@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
html{
    overflow-x: hidden;
}
body{
    font-family:Nunito;
    padding:0;
    margin:0;
}
.navbar{
    position: absolute;
    width: 1300px;
    height: 80px;
    left: 0px;
    top: 0px;
    color:white;
    background: #323030;
    font-size: 14px;
}
.my, .toolbar {
    display:inline-flex;
}
.toolbar{
    position: absolute;
    width: 1300px;
    height: 80px;
    left: 280px;
    top: 20px;
    font-size: 18px;
}
.my li, .toolbar li {
    list-style: none;
    padding-right:40px;
    cursor:pointer;
}
.my li a, .toolbar li a{
    text-decoration: none;
    color:white;
    text-transform: none;
}
.my li a:hover, .toolbar li a:hover{
    text-decoration: none;
    color:rgb(139, 189, 77);
    text-transform: none;
}
.nav {
    position: relative;
    background:#264286ef;
    top:40px;
    left:100px;
    height: 100px;
    width:1080px;
    overflow: hidden;
}
.nav::before{
    content:'';
    display:block;
    background: #E03C31;
    position:absolute;
    top:-55px; left:-25px;
    width:300px;
    height:250px;
    transform:rotate(15deg);
}
a.logo{
    position:relative;
    top:20px;
    left:20px;
    padding-right: 120px;
}